
<nav class="navbar navbar-light justify-content-between">
  <a class="navbar-brand mb-0 h1" href="#"><strong>iGood</strong> </a>
  <button id="demo-menu-lower-left" class="mdl-button mdl-js-button mdl-button--icon">
    <i class="material-icons">more_vert</i>
  </button>
  <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-left">
    <li class="mdl-menu__item"><a routerLink="/NewActivity">Add New Activity</a></li>
    <li class="mdl-menu__item mdl-menu__item--full-bleed-divider">Another Action</li>
    <li disabled class="mdl-menu__item">Disabled Action</li>
    <li class="mdl-menu__item">Yet Another Action</li>
  </ul>
</nav>

<div class="canvasDiv">
  <canvas id="canvas" class="canvas"></canvas>
  <br><br>
  <canvas id="DayFrequencyCanvas" class="canvas"></canvas>
  
</div>